body{
    background-color: lightgray;
}

.card{
    width: 300px;
    background-color: lightblue;
    color: darkblue;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
}

.card h2{
    color: navy;
}

.card p{
    color: black;
}