body{
    margin: 0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    height: 250px;
    width: 250px;
    margin: auto;
}
#box1{
    background-color: rgb(138, 19, 19);
    margin: auto;
}
#box2{
    background-color: rgb(6, 59, 41);
}